<!doctype html>
<html>
  <head>
    <title>The Playlistinator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">

    <style type="text/css">
#login,
#loggedin,
#request-success,
#artists-request-in-progress,
#playlistify-request-in-progress,
#request-failure,
input[type="radio"],
#artists-list {
  display: none;
}
    </style>
  </head>

  <body>
    <header>
      <h1>The&nbsp;Playlistinator</h1>
      <div class="photo">
	<img id="photo" src="doofenschmirtz.webp"><br/>
	<p class="legend">
	  Dr. Doofenshmirtz will create playlists for you. <br/>
	  He's more qualified than I am: he holds a PhD.
	</p>
      </div>
    </header>
    <p class="bio">
    Going to a concert? Prepare with the <b>Playlistinator</b>! The
    <b>Playlistinator</b> generates, for a given artist, a Spotify playlist
    with songs played live recently by that artist. It has been created by
    <b><a href="https://michaelpaper.xyz">me</a></b>.
    </p>


    <div class="paragraph">
      <div id="login">
	<div class="paragraph-title">
	  <h2>Log in with your Spotify account</h2>
	</div>
	<div class="spotify-button-container">
	  <button id="login-button" class="w3-btn w3-green spotify-button">Log in with Spotify</button>
	</div>
      </div>
      <div id="loggedin">
	<div class="paragraph-title">
	  <h2>Create playlists</h2>
	</div>
	<div id="user-profile">
	</div>
	<form class="w3-container">
	  <label><b>Artist's name</b></label>
	  <input type="text" id="artist-name-input" class="w3-input w3-border w3-round" name="artist-name"/>
	  <button id="get-artists-button" class="w3-btn w3-green spotify-button">Find artist</button>
	</form>
	<form class="w3-container" id="artists-list">
	  <label id="top-label"><b>Matches</b></label>
	  <div class="w3-container" id="artists-list-radio">
	  </div>
	  <button id="generate-playlist-button" class="w3-btn w3-green spotify-button">Generate playlist</button>
	</form>
	<button id="disconnect-button" class="w3-btn w3-green spotify-button">Log out from Spotify</button>
      </div>
      <div id="artists-request-in-progress">
	<p>Fetching artists...</p>
      </div>
      <div id="playlistify-request-in-progress">
	<p>Your playlist is being created...</p>
      </div>
      <div id="request-success">
	<p>Check out your Spotify library!</p>
	<iframe id="playlist-embedded" style="border-radius:12px" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
      </div>
      <div id="request-failure">
	<p>Oops, something went wrong...</p>
      </div>
    </div>

    <script id="user-profile-template" type="text/x-handlebars-template">
      <p>Welcome {{display_name}}!</p>
    </script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>
    <script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
    <script>
      (function() {

	var stateKey = 'spotify_auth_state';

	/**
	 * Obtains parameters from the hash of the URL
	 * @return Object
	 */
	function getHashParams() {
	  var hashParams = {};
	  var e, r = /([^&;=]+)=?([^&;]*)/g,
	    q = window.location.hash.substring(1);
	  while ( e = r.exec(q)) {
	    hashParams[e[1]] = decodeURIComponent(e[2]);
	  }
	  return hashParams;
	}

	/**
	  * Generates a random string containing numbers and letters
	  * @param  {number} length The length of the string
	  * @return {string} The generated string
	  */
	  function generateRandomString(length) {
	    var text = '';
	    var possible = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';

	    for (var i = 0; i < length; i++) {
	      text += possible.charAt(Math.floor(Math.random() * possible.length));
	    }
	    return text;
	  };

	var userProfileSource = document.getElementById('user-profile-template').innerHTML,
	  userProfileTemplate = Handlebars.compile(userProfileSource),
	  userProfilePlaceholder = document.getElementById('user-profile');

	var params = getHashParams();

	var access_token = params.access_token,
	  state = params.state,
	  storedState = localStorage.getItem(stateKey);


	if (access_token && (state == null || state !== storedState)) {
	  alert('There was an error during the authentication');
	} else {
	  if (access_token) {
	    $.ajax({
	      url: 'https://api.spotify.com/v1/me',
	      headers: {
		'Authorization': 'Bearer ' + access_token
	      },
	      success: function(response) {
		response["access_token"] = access_token;
		userProfilePlaceholder.innerHTML = userProfileTemplate(response);

		$('#login').hide();
		$('#loggedin').show();
	      }
	    });
	  } else {
	    $('#login').show();
	    $('#loggedin').hide();
	  }
	      }

	  var is_artists_list_running = false;
	  document.getElementById('get-artists-button').addEventListener('click', function() {
	    if (is_artists_list_running) { return; }
	    is_artists_list_running = true;
	    var artist_name = document.getElementById('artist-name-input').value;
	    var url = "https://playlistinator.michaelpaper.xyz/get_artists";
	    url += '?access_token=' + encodeURIComponent(access_token);
	    url += '&artist_name=' + encodeURIComponent(artist_name);

	    $('#request-success').hide();
	    $('#request-failure').hide();
	    $('#artists-request-in-progress').show();
	    document.getElementById('get-artists-button').setAttribute("disabled", "");
	    $.ajax({
	      url: url,
	      type: "GET",
	      success: function(response) {
		$('#artists-request-in-progress').hide();
		document.getElementById('get-artists-button').removeAttribute("disabled");
		document.getElementById('generate-playlist-button').setAttribute("disabled", "");
		is_artists_list_running = false;
		if (response != "failure") {
		  artists = JSON.parse(response);
		  artists_form = document.getElementById('artists-list-radio');
		  while (artists_form.lastChild) {
		    artists_form.removeChild(artists_form.lastChild);
		  }
		  for (var i = 0; i < artists.length; i++) {
		    var newDiv = document.createElement("div");
		    newDiv.className = "artists-form-check";
		    var newInput = document.createElement("input");
		    newInput.className = "artists-form-check-input";
		    newInput.setAttribute("type", "radio");
		    newInput.setAttribute("name", "artist-mbid-and-name");
		    newInput.setAttribute("id","input-" + artists[i]["mbid"]);
		    var mbidAndName = JSON.stringify({
		      "name": artists[i]["name"],
		      "mbid": artists[i]["mbid"],
		    });
		    newInput.setAttribute("value", mbidAndName);
		    var newButton = document.createElement("button");
		    newButton.className = "artists-form-button w3-button w3-round-large w3-block";
		    newButton.setAttribute("type", "button");
		    newButton.setAttribute("id", artists[i]["mbid"]);
		    var newLabel = document.createElement("label");
		    newLabel.className = "artists-form-check-label";
		    newLabel.setAttribute("for", artists[i]["mbid"]);
		    var artist_description = artists[i]["name"];
		    if (artists[i]["disambiguation"] != "") {
		      artist_description += " (" + artists[i]["disambiguation"] + ")";
		    }
		    var newContent = document.createTextNode(artist_description);
		    newLabel.appendChild(newContent);
		    newDiv.appendChild(newInput);
		    newButton.appendChild(newLabel);
		    newButton.addEventListener('click', function () {
		      var radioBoxes = document.getElementsByClassName("artists-form-check-input");
		      var radioButtons = document.getElementsByClassName("artists-form-button");
		      for (var j = 0; j < radioBoxes.length; j++) {
			radioBoxes[j].checked = false;
			radioButtons[j].className = "artists-form-button w3-button w3-round-large w3-block";
		      }
		      document.getElementById("input-" + this.getAttribute("id")).checked = true;
		      document.getElementById('generate-playlist-button').removeAttribute("disabled");
		      this.className = "artists-form-button w3-button w3-round-large w3-block w3-green"
		    });
		    newDiv.appendChild(newButton);
		    document.getElementById('artists-list-radio').appendChild(newDiv);
		  }
		  $('#artists-list').show()
		} else {
		  $('#request-failure').show();
		}
	      }
	    }, false);
		});


	  var is_playlistinator_running = false;
	  document.getElementById('generate-playlist-button').addEventListener('click', function() {
	    if (is_playlistinator_running) { return; }
	    is_playlistinator_running = true;
	    var artist = {};
	    var ele = document.getElementsByName("artist-mbid-and-name");
	    for (var i = 0; i < ele.length; i++) {
	      if (ele[i].checked) {
		  artist = JSON.parse(ele[i].value);
	      }
	    }
	    var url = "https://playlistinator.michaelpaper.xyz/generate";
	    url += '?access_token=' + encodeURIComponent(access_token);
	    url += '&artist_name=' + encodeURIComponent(artist["name"]);
	    url += '&artist_mbid=' + encodeURIComponent(artist["mbid"]);

	    $('#request-success').hide();
	    $('#request-failure').hide();
	    $('#playlistify-request-in-progress').show();
	    document.getElementById('generate-playlist-button').setAttribute("disabled", "");
	    document.getElementById('get-artists-button').setAttribute("disabled", "");
	    $.ajax({
	      url: url,
	      type: "GET",
	      success: function(response) {
		$('#playlistify-request-in-progress').hide();
		document.getElementById('generate-playlist-button').removeAttribute("disabled");
		document.getElementById('get-artists-button').removeAttribute("disabled");
		is_playlistinator_running = false;
		if (response != "failure") {
		  $('#request-success').show();
		  $('#artists-list').hide()
		} else {
		  $('#request-failure').show();
		}
	      }
	    }, false);
		});



	  document.getElementById('login-button').addEventListener('click', function() {

	    var client_id = '2227640a21ac416eb84b37ab5ac0e398'; // Your client id
	    var redirect_uri = 'https://playlistinator.michaelpaper.xyz'; // Your redirect uri

	    var state = generateRandomString(16);

	    localStorage.setItem(stateKey, state);
	    var scope = 'user-read-private playlist-modify-private';

	    var url = 'https://accounts.spotify.com/authorize';
	    url += '?response_type=token';
	    url += '&client_id=' + encodeURIComponent(client_id);
	    url += '&scope=' + encodeURIComponent(scope);
	    url += '&redirect_uri=' + encodeURIComponent(redirect_uri);
	    url += '&state=' + encodeURIComponent(state);
	    window.location = url;
	  });

	  document.getElementById('disconnect-button').addEventListener('click', function() {
	    localStorage.removeItem(stateKey);
	    var url = 'https://playlistinator.michaelpaper.xyz';
	    window.location = url;
	  });
      })();
    </script>
</html>
